<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css}" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</head>

<body>

	<script>

		function nameValidate() {
			if (/[^a-zA-Z[\s\]]/.test(document.getElementById("uName").value)) {
				alert("Only Alphabets are allowed")
			}
		}
		function validatePassword() {
			var passwordInput = document.getElementById("passwd");
			var passwordError = document.getElementById("passwordError");

			// Regular expressions for validating password
			var capitalLetterRegex = /[A-Z]/;
			var numberRegex = /[0-9]/;

			// Check if password meets the required criteria
			if (passwordInput.value.length < 8) {
				passwordError.textContent = "Password must be at least 8 characters long";
			} else if (!capitalLetterRegex.test(passwordInput.value)) {
				passwordError.textContent = "Password must contain at least one capital letter";
			} else if (!numberRegex.test(passwordInput.value)) {
				passwordError.textContent = "Password must contain at least one number";
			} else {
				passwordError.textContent = ""; // Clear any previous error message
			}


		}
		function phonevalidation() {
			var phone = document.getElementById("phoneNumber").value
			var phn = /^[0-9]{10}$/;
			if (!(phn.test(phone))) {
				alert("Input should be in number Format and length of 10")
			}
		}
	</script>


	<section class="vh-100 bg-image"
		style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
		<div class="mask d-flex align-items-center h-100 gradient-custom-3">
			<div class="container h-100">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-12 col-md-9 col-lg-7 col-xl-6">
						<div class="card" style="border-radius: 15px;">
							<div class="card-body p-5">
								<h2 class="text-uppercase text-center mb-5">Create an account</h2>

								<form class="mx-1 mx-md-4" id="regForm" th:modelAttribute="user"
									th:action="@{/ProcessRegister}" th:object="${user}" method="post">


									<div class="form-outline mb-4">
										<input type="text" id="uName" field="*{uName}" name="uName"
											class="form-control form-control-lg" required="required"
											oninput="nameValidate()" />
										<label class="form-label" for="uName">Your Name</label>
									</div>

									<div class="form-outline mb-4">
										<input type="email" id="uemail" field="*{uemail}" name="uemail"
											class="form-control form-control-lg" required="required" />
										<label class="form-label" for="uemail">Your Email</label>
									</div>

									<div class="form-outline mb-4">
										<input type="password" id="passwd" field="*{passwd}" name="passwd"
											class="form-control form-control-lg" required minlength="8"
											onchange="validatePassword()" />
										<label class="form-label" for="passwd">Password</label>
										<div id="passwordError" style="color: red;"></div>
									</div>

									<div class="form-outline mb-4">
										<input type="date" id="birthDay" field="*{birthDay}" name="birthDay"
											class="form-control form-control-lg" required="required" />
										<label class="form-label" for="birthDay">Date Of Birth</label>
									</div>

									<div class="form-outline mb-4">
										<input type="tel" id="phoneNumber" field="*{phoneNumber}" name="phoneNumber"
											class="form-control form-control-lg"  placeholder="xxx-xxx-xxxx" required="required"
											onchange="phonevalidation()" />
										<label class="form-label" for="phoneNumber">Phone Number</label>
									</div>








									<div class="d-flex justify-content-center">
										<button type="submit"
											class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
									</div>

									<div class="d-flex align-items-center justify-content-center pb-4">
										<p class="mb-0 me-2">Already have an account? <a href="" th:href="@{/log}" </p>
												<button type="button" class="btn btn-outline-danger">Login</a></button>
									</div>

								</form>
								<div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">




								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
</body>

</html>